<section id="-navbar" ng-controller="NavbarController">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle btn-primary collapsed" data-toggle="collapse" data-target="#navBar" aria-expanded="false" aria-controls="navBar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navBar">
                <div ng-include="'navbar/menu.html'" ng-init="menuItems = menuItems; isRoot = true"></div>
                <label class="nav navbar-nav navbar-text navbar-right">Welcome {{Username}} Pia</label>
            </div>
        </div>
    </nav>
</section>
